Node-Red - Dashboard/flow-pi.json
[{"id":"f4c68dd139b90406","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"8f3405508cbbf7b6","type":"OpcUa-Endpoint","endpoint":"opc.tcp://190.201.100.102:4840","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"23c35823297c8826","type":"MySQLdatabase","name":"MySQL","host":"127.0.0.1","port":"3306","db":"AI_A","tz":"","charset":"UTF8"},{"id":"174439cbfdfebe20","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#9b6e22","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#9b6e22","edited":true},"page-titlebar-backgroundColor":{"value":"#9b6e22","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#d39936","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#9b6e22","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Feltrin Noivas - Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b0d9b2446c7c7859","type":"MySQLdatabase","name":"MySQL_A","host":"127.0.0.1","port":"3306","db":"AI_A","tz":"","charset":"UTF8"},{"id":"85c4940432f372f4","type":"MySQLdatabase","name":"MySQL_B","host":"127.0.0.1","port":"3306","db":"PROCESSOS_INDUSTRIAIS","tz":"","charset":"UTF8"},{"id":"f6f1d7dd7e0a363d","type":"MySQLdatabase","name":"Akemi,Matheus,Marcio","host":"127.0.0.1","port":"3306","db":"PROSSESSOS_INDUSTRIAIS","tz":"","charset":"UTF8"},{"id":"ca85cfaf14870dbb","type":"ui_tab","name":"Exemplo Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d80bbd76c56f8ced","type":"ui_group","name":"Exemplo 1","tab":"ca85cfaf14870dbb","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"d53a8a5c180463df","type":"MySQLdatabase","name":"MySQL_Imobiliaria","host":"127.0.0.1","port":"3306","db":"Imobiliaria","tz":"","charset":"UTF8"},{"id":"c8cbc0c1588586fb","type":"ui_tab","name":"Feltrin Noivas","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d108471cfcb3d0f2","type":"ui_group","name":"Visualizar informações","tab":"c8cbc0c1588586fb","order":4,"disp":true,"width":10,"collapse":false,"className":""},{"id":"3f60b36e29acd5a4","type":"ui_group","name":"Cadastro de clientes","tab":"c8cbc0c1588586fb","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"9045266b4c51c722","type":"ui_group","name":"Exclusão de clientes","tab":"c8cbc0c1588586fb","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"36cba1d60a2acc64","type":"ui_group","name":"Edição de clientes","tab":"c8cbc0c1588586fb","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"9d25590ae3e4efba","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"feltrinnoivas","tz":"","charset":"UTF8"},{"id":"456bbe81bd3f1165","type":"function","z":"f4c68dd139b90406","name":"SQL","func":"msg.topic = \"SELECT * FROM Clientes\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":120,"wires":[["fbf7ef68a045067e"]]},{"id":"fbf7ef68a045067e","type":"mysql","z":"f4c68dd139b90406","mydb":"9d25590ae3e4efba","name":"Banco de dados","x":520,"y":80,"wires":[["031e98b5b98dc67b","10ab8d68f081c1f5"]]},{"id":"10ab8d68f081c1f5","type":"debug","z":"f4c68dd139b90406","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":80,"wires":[]},{"id":"031e98b5b98dc67b","type":"function","z":"f4c68dd139b90406","name":"Formatar HTML","func":"let dados = msg.payload;\nlet html = `\n<table>\n    <tr>\n        <th>Cod</th>\n        <th>Nome</th>\n        <th>CPF</th>\n        <th>Email</th>\n        <th>Telefone</th>\n        <th>Endereço</th>\n        <th>Data de nascimento</th>\n    </tr>`;\nfor (let linha of dados){\n    html += `\n    <tr>\n        <td>${linha.cod_cliente}</td>\n        <td>${linha.nome}</td>\n        <td>${linha.cpf}</td>\n        <td>${linha.email}</td>\n        <td>${linha.telefone}</td>\n        <td>${linha.endereco}</td>\n        <td>${linha.data_de_nascimento}</td>\n    </tr>`;\n}\nhtml += '</table>';\nmsg.payload = html;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":160,"wires":[["e1e99778d8b49996"]]},{"id":"91383409cac65e5a","type":"ui_button","z":"f4c68dd139b90406","name":"","group":"d108471cfcb3d0f2","order":2,"width":10,"height":1,"passthru":false,"label":"Leitura de dados","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":80,"wires":[["456bbe81bd3f1165"]]},{"id":"e1e99778d8b49996","type":"ui_template","z":"f4c68dd139b90406","group":"d108471cfcb3d0f2","name":"","order":1,"width":10,"height":9,"format":"<style>\n    table{\n        width: 100%;\n        border-collapse: collapse;\n        font-family: Arial;\n        font-size: 14px;\n    }\n    th,\n    td {\n        padding: 10px;\n        border: 1px solid #ccc;\n        text-align: center;\n        vertical-align: middle;\n    }\n    th {\n        background-color: #8B0000;\n        color: white;\n    }\n</style>\n\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":740,"y":160,"wires":[[]]},{"id":"3b51537f624ab6b5","type":"ui_form","z":"f4c68dd139b90406","name":"","label":"Inserir cliente","group":"3f60b36e29acd5a4","order":1,"width":0,"height":0,"options":[{"label":"Nome","value":"nome","type":"text","required":true,"rows":null},{"label":"CPF","value":"cpf","type":"text","required":true,"rows":null},{"label":"Email","value":"email","type":"text","required":false,"rows":null},{"label":"Telefone","value":"telefone","type":"text","required":false,"rows":null},{"label":"Endereço","value":"endereco","type":"text","required":false,"rows":null},{"label":"Data de nascimento","value":"data_de_nascimento","type":"text","required":false,"rows":null}],"formValue":{"nome":"","cpf":"","email":"","telefone":"","endereco":"","data_de_nascimento":""},"payload":"","submit":"Cadastrar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":110,"y":240,"wires":[["7367e9918d2103a1"]]},{"id":"7367e9918d2103a1","type":"function","z":"f4c68dd139b90406","name":"SQL","func":"msg.topic = \"INSERT INTO Clientes (nome, cpf, email, telefone, endereco, data_de_nascimento) VALUES (?, ?, ?, ?, ?, ?)\";\nmsg.payload = [msg.payload.nome, msg.payload.cpf, msg.payload.email, msg.payload.telefone, msg.payload.endereco, msg.payload.data_de_nascimento];\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":280,"wires":[["3be3d8df0fc0ab57"]]},{"id":"3be3d8df0fc0ab57","type":"mysql","z":"f4c68dd139b90406","mydb":"9d25590ae3e4efba","name":"Banco de dados","x":520,"y":240,"wires":[["ed8ebeab59ac12cf"]]},{"id":"ed8ebeab59ac12cf","type":"debug","z":"f4c68dd139b90406","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":280,"wires":[]},{"id":"224f6547dcb89c31","type":"ui_form","z":"f4c68dd139b90406","name":"","label":"Deletar cliente","group":"9045266b4c51c722","order":1,"width":0,"height":0,"options":[{"label":"Cod Cliente","value":"cod_cliente","type":"number","required":true,"rows":null}],"formValue":{"cod_cliente":""},"payload":"","submit":"Deletar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":120,"y":440,"wires":[["40554eb055f921bb"]]},{"id":"40554eb055f921bb","type":"function","z":"f4c68dd139b90406","name":"SQL","func":"msg.topic = \"DELETE FROM Clientes WHERE cod_cliente = ?\";\nmsg.payload = [msg.payload.cod_cliente];\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":480,"wires":[["930e607b523e0f2b"]]},{"id":"930e607b523e0f2b","type":"mysql","z":"f4c68dd139b90406","mydb":"9d25590ae3e4efba","name":"Banco de dados","x":520,"y":440,"wires":[["56786b28d0b7399d"]]},{"id":"56786b28d0b7399d","type":"debug","z":"f4c68dd139b90406","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":480,"wires":[]},{"id":"3b00e60b17fb6513","type":"ui_form","z":"f4c68dd139b90406","name":"","label":"Alterar cliente","group":"36cba1d60a2acc64","order":1,"width":0,"height":0,"options":[{"label":"Cod Cliente","value":"cod_cliente","type":"text","required":true,"rows":null},{"label":"Nome","value":"nome","type":"text","required":false,"rows":null},{"label":"CPF","value":"cpf","type":"text","required":false,"rows":null},{"label":"Email","value":"email","type":"text","required":false,"rows":null},{"label":"Telefone","value":"telefone","type":"text","required":false,"rows":null},{"label":"Endereço","value":"endereco","type":"text","required":false,"rows":null},{"label":"Data de nascimento","value":"data_de_nascimento","type":"text","required":false,"rows":null}],"formValue":{"cod_cliente":"","nome":"","cpf":"","email":"","telefone":"","endereco":"","data_de_nascimento":""},"payload":"","submit":"Alterar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":120,"y":340,"wires":[["38da9ab17959f5ce"]]},{"id":"38da9ab17959f5ce","type":"function","z":"f4c68dd139b90406","name":"SQL","func":"msg.topic = \"UPDATE Clientes SET nome = ?, cpf = ?, telefone = ?, email = ?, endereco = ?, data_de_nascimento = ? WHERE cod_cliente = ?\";\nmsg.payload = [\n    msg.payload.nome,\n    msg.payload.cpf,\n    msg.payload.telefone,\n    msg.payload.email,\n    msg.payload.endereco,\n    msg.payload.data_de_nascimento,\n    msg.payload.cod_cliente\n];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":380,"wires":[["f4b7dca0563f7db1"]]},{"id":"f4b7dca0563f7db1","type":"mysql","z":"f4c68dd139b90406","mydb":"9d25590ae3e4efba","name":"Banco de dados","x":520,"y":340,"wires":[["54654aefa677a1ae"]]},{"id":"54654aefa677a1ae","type":"debug","z":"f4c68dd139b90406","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":380,"wires":[]}]